#### Quick Assignement 1

In [1]:
week = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

for day in week:
     print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

#### Quick Assignement 2

In [2]:
words = []

for word in range(5):
     words.append(input('Enter the word: '))

for number, word in enumerate(words):
     print(f'{number + 1}: {word}, number of characters: {len(word)}')
print('Number of words:', len(words))

1: , number of characters: 0
2: , number of characters: 0
3: , number of characters: 0
4: , number of characters: 0
5: , number of characters: 0
Number of words: 5

#### Quick Assignement 3

In [3]:
year = int(input('Enter year: '))
if (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
     print('Leap Year')
else:
     print('Not Leap Year')

ValueError: invalid literal for int() with base 10: ''

#### Quick Assignement 4

In [2]:
student_grades = {
    'Alice': {'Math': 85, 'Science': 92, 'History': 88},
    'Bob': {'Math': 78, 'Science': 85, 'History': 90},
    'Charlie': {'Math': 92, 'Science': 88, 'History': 76}
}

for student, grades in student_grades.items():
    print(f"{student}'s Grades:")
    for subject, grade in grades.items():
        print(f"{subject}: {grade}")
    print()

Alice's Grades:
Math: 85
Science: 92
History: 88

Bob's Grades:
Math: 78
Science: 85
History: 90

Charlie's Grades:
Math: 92
Science: 88
History: 76